.alert-danger {
  color: red;
}

.alert-danger.panel {
  background-color:#ff7070;
  color: black;
  width: 700px;
  margin: 15px;
  padding: 15px;
}

.App {
  padding: 10px;
}

.App-header {
  font-size: calc(16px + 2vmin);
  border-bottom: 1px solid grey;
}

.App-body {

}


.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.checkout-form {
  max-width: 900px;
  background-color: #deffd1;
  padding: 15px;
}

.action-button {
  width: 100%;
  margin-top: 15px;
  height:40px;
  background-color:#446d32;
  color: white;
  text-align: center;
  vertical-align: center;
}

.link-action-button {
  display:block;
  line-height: 40px;
}

.inline-action-button {
  height:40px;
  background-color:#446d32;
  color: white;
}

.checkout-submit-container {
  text-align: center;
}

.zine-icon {
  font-size: 2em;
}

.payment-method-switcher {
  padding: 5px;
  border: 1px solid;
}